ReliableWcfService.Demo/Service References/ServiceReference1/DemoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DemoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/demo?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/demo?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDemoService_GetSampleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSampleData" />
  </wsdl:message>
  <wsdl:message name="IDemoService_GetSampleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSampleDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoService_PerformSampleOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformSampleOperation" />
  </wsdl:message>
  <wsdl:message name="IDemoService_PerformSampleOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformSampleOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IDemoService">
    <wsdl:operation name="GetSampleData">
      <wsdl:input wsam:Action="http://tempuri.org/IDemoService/GetSampleData" message="tns:IDemoService_GetSampleData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDemoService/GetSampleDataResponse" message="tns:IDemoService_GetSampleData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformSampleOperation">
      <wsdl:input wsam:Action="http://tempuri.org/IDemoService/PerformSampleOperation" message="tns:IDemoService_PerformSampleOperation_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IDemoService/PerformSampleOperationResponse" message="tns:IDemoService_PerformSampleOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDemoService" type="tns:IDemoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSampleData">
      <soap:operation soapAction="http://tempuri.org/IDemoService/GetSampleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformSampleOperation">
      <soap:operation soapAction="http://tempuri.org/IDemoService/PerformSampleOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoService">
    <wsdl:port name="BasicHttpBinding_IDemoService" binding="tns:BasicHttpBinding_IDemoService">
      <soap:address location="http://localhost:8080/demo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>